platform-camel/lbs/src/test/resources/hello_world.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Licensed to the Apache Software Foundation (ASF) under one or more
		contributor license agreements. See the NOTICE file distributed with
		this work for additional information regarding copyright ownership.
		The ASF licenses this file to you under the Apache License, Version
		2.0 (the "License"); you may not use this file except in compliance
		with the License. You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->

<wsdl:definitions name="HelloWorld"
	targetNamespace="http://cxf.process.lbs.camel.platform.ipf.openehealth.org/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://cxf.apache.org/transports/jms"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:tns="http://cxf.process.lbs.camel.platform.ipf.openehealth.org/"
	xmlns:types="http://cxf.process.lbs.camel.platform.ipf.openehealth.org/types"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime"    
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema
			targetNamespace="http://cxf.process.lbs.camel.platform.ipf.openehealth.org/types"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://cxf.process.lbs.camel.platform.ipf.openehealth.org/types"
			elementFormDefault="qualified">

			<element name="greetMe">
				<complexType>
					<sequence>
						<element name="requestType" type="string" />
					</sequence>
				</complexType>
			</element>
			
			<element name="response">
				<complexType>
					<sequence>
						<element name="responseType" type="string" />
					</sequence>
				</complexType>
			</element>

         	<element name="postMe">
				<complexType>
	                <sequence>
	                    <element name="name" type="string" />
	                    <element name="attachinfo" type="base64Binary" 
	                             xmime:expectedContentTypes="application/octet-stream"/>
	                    <element name="onewayattach" type="base64Binary" 
	                             xmime:expectedContentTypes="application/octet-stream"/>	                   
	                </sequence>
                </complexType>
         	</element>

         	<element name="postMeResponse">
				<complexType>
	                <sequence>
	                    <element name="name" type="string" />
	                    <element name="attachinfo" type="base64Binary" 
	                             xmime:expectedContentTypes="application/octet-stream"/>
	                </sequence>
                </complexType>
         	</element>

            <element name="pingMe">
                <complexType>
                    <sequence>
                        <element name="attachinfo" type="base64Binary" 
                                 xmime:expectedContentTypes="application/octet-stream"/>
                    </sequence>
                </complexType>
            </element>

            <element name="pingMeResponse">
                <complexType>
                    <sequence>
                        <element name="attachinfo" type="base64Binary" 
                                 xmime:expectedContentTypes="application/octet-stream"/>
                    </sequence>
                </complexType>
            </element>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="greetMeRequest">
		<wsdl:part element="types:greetMe" name="in" />
	</wsdl:message>
	
	<wsdl:message name="greetMeResponse">
		<wsdl:part element="types:response" name="out" />
	</wsdl:message>

    <wsdl:message name="postMeRequest">
        <wsdl:part element="types:postMe" name="in" />
    </wsdl:message>

    <wsdl:message name="postMeResponse">
        <wsdl:part element="types:postMeResponse" name="out" />
    </wsdl:message>

    <wsdl:message name="pingMeRequest">
        <wsdl:part element="types:pingMe" name="in" />
    </wsdl:message>

    <wsdl:message name="pingMeResponse">
        <wsdl:part element="types:pingMeResponse" name="out" />
    </wsdl:message>

	<wsdl:portType name="Greeter">
		<wsdl:operation name="greetMe">
			<wsdl:input message="tns:greetMeRequest" name="greetMeRequest" />
			<wsdl:output message="tns:greetMeResponse" name="greetMeResponse" />
		</wsdl:operation>

        <wsdl:operation name="postMe">
            <wsdl:input message="tns:postMeRequest" name="postMeRequest" />
            <wsdl:output message="tns:postMeResponse" name="postMeResponse" />
        </wsdl:operation>

        <wsdl:operation name="pingMe">
            <wsdl:input message="tns:pingMeRequest" name="pingMeRequest" />
            <wsdl:output message="tns:pingMeResponse" name="pingMeResponse" />
        </wsdl:operation>
    </wsdl:portType>

	<wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="greetMe">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="greetMeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="greetMeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

        <wsdl:operation name="postMe">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="postMeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="postMeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="pingMe">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="pingMeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="pingMeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SOAPService">
		<wsdl:port binding="tns:Greeter_SOAPBinding" name="SoapOverHttp">
			<soap:address location="http://localhost:9000/SoapContext/SoapPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

