commons/ihe/hl7v3/src/main/resources/schematron/iti47/PRPA_IN201306UV02.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2010 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<!--
    Schematron rules for ITI-47 response message.
    @author Dmytro Rud 
-->

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
    <sch:ns uri="http://www.w3.org/2001/XMLSchema-instance" prefix="xsi" />
	<sch:ns uri="urn:hl7-org:v3" prefix="hl7" />

    <sch:extends href="../generic.sch.xml" />

    <!-- ==========================================================================
                  Rules based on Section 3.47.4.2.2.2 of IHE ITI TF Volume 2b
         ========================================================================== -->
    <sch:pattern id="patient-constraints-section_3_47_4_2_2_2">
        <sch:rule context="/hl7:PRPA_IN201306UV02/hl7:controlActProcess/hl7:subject/hl7:registrationEvent/hl7:subject1/hl7:patient">
            <sch:assert test="not(hl7:patientNonPersonLivingSubject)">result must relate to a person</sch:assert>
            
            <sch:assert test="not(hl7:subjectOf2)">subjectOf2 must be omitted</sch:assert>
            <sch:assert test="not(hl7:coveredPartyOf)">coveredPartyOf must be omitted</sch:assert>

            <sch:assert test="@classCode = 'PAT'">classCode must equal to 'PAT'</sch:assert>
            <sch:assert test="count(hl7:id) ge 1">at least one main patient ID must be present</sch:assert>
            <sch:assert test="hl7:statusCode/@code = 'active'">statusCode must equal to 'active'</sch:assert>

            <sch:assert test="hl7:providerOrganization">providerOrganization must be present</sch:assert>
        </sch:rule>

        <sch:rule context="/hl7:PRPA_IN201306UV02/hl7:controlActProcess/hl7:subject/hl7:registrationEvent/hl7:subject1/hl7:patient/hl7:patientPerson">
            <sch:assert test="not(hl7:asPatientOfOtherProvider)">asPatientOfOtherProvider must be omitted</sch:assert>
            <sch:assert test="not(hl7:birthPlace)">birthPlace must be omitted</sch:assert>
            <sch:assert test="not(hl7:guarantorRole)">guarantorRole must be omitted</sch:assert>
            <sch:assert test="not(hl7:guardian)">guardian must be omitted</sch:assert>
            <sch:assert test="not(hl7:contactParty)">contactParty must be omitted</sch:assert>
            <sch:assert test="not(hl7:asMember)">asMember must be omitted</sch:assert>
            <sch:assert test="not(hl7:careGiver)">careGiver must be omitted</sch:assert>
            <sch:assert test="not(hl7:asStudent)">asStudent must be omitted</sch:assert>

            <sch:assert test="@classCode = 'PSN'">classCode must equal to 'PSN'</sch:assert>
            <sch:assert test="@determinerCode = 'INSTANCE'">determinerCode must equal to 'INSTANCE'</sch:assert>
            <sch:assert test="count(hl7:name) &gt; 0">at least one sub-element "name" must be present</sch:assert>

            <sch:assert test="not(hl7:personalRelationship) or hl7:personalRelationship/@classCode = 'PRS'">
                relationship holder of the personal relationship is restricted to be a person, classCode must equal to 'PRS'
            </sch:assert>

            <sch:assert test="not(hl7:asEmployee) or hl7:asEmployee/@classCode = 'EMP'">
                classCode must equal to 'EMP'
            </sch:assert>
        </sch:rule>

        <sch:rule context="/hl7:PRPA_IN201306UV02/hl7:controlActProcess/hl7:subject/hl7:registrationEvent/hl7:subject1/hl7:patient/hl7:patientPerson/hl7:asCitizen">
            <sch:assert test="@classCode = 'CIT'">classCode must equal to 'CIT'</sch:assert>
            <sch:assert test="hl7:politicalNation/@classCode = 'NAT'">politicalNation.classCode must equal to 'NAT'</sch:assert>
            <sch:assert test="hl7:politicalNation/@determinerCode = 'INSTANCE'">politicalNation.determinerCode must equal to 'INSTANCE'</sch:assert>
        </sch:rule>
    </sch:pattern>

    <sch:pattern is-a="check-type" id="patient-constraints-section_3_47_4_2_2_2-a">
        <sch:param name="element" value="/hl7:PRPA_IN201306UV02/hl7:controlActProcess/hl7:subject/hl7:registrationEvent/hl7:subject1/hl7:patient/hl7:subjectOf1/hl7:queryMatchObservation/hl7:value" />
        <sch:param name="type" value="INT" />
    </sch:pattern>

    <!-- ==========================================================================
                  Rules based on Section O.2.2 of IHE ITI TF Volume 2x
         ========================================================================== -->
    <sch:pattern id="patient-constraints-section_O_2_2">
        <sch:rule context="/hl7:PRPA_IN201306UV02/hl7:controlActProcess">
            <sch:assert test="not(hl7:text)">text must be omitted</sch:assert>
            <sch:assert test="not(hl7:priorityCode)">priorityCode must be omitted</sch:assert>
            <sch:assert test="not(hl7:reasonCode)">reasonCode must be omitted</sch:assert>
            <!--<sch:assert test="not(hl7:reasonOf)">reasonOf must be omitted</sch:assert>-->
        </sch:rule>

        <sch:rule context="/hl7:PRPA_IN201306UV02/hl7:controlActProcess/hl7:subject">
            <!-- "false" is the default value of "contextConductionInd", thus this attribute can be missing -->
            <sch:assert test="not(@contextConductionInd = 'true')">contextConductionInd must equal to 'false'</sch:assert>
        </sch:rule>

        <sch:rule context="/hl7:PRPA_IN201306UV02/hl7:controlActProcess/hl7:subject/hl7:registrationEvent">
            <sch:assert test="not(hl7:inFulfillmentOf)">inFulfillmentOf must be omitted</sch:assert>
            <sch:assert test="not(hl7:definition)">definition must be omitted</sch:assert>
        </sch:rule>
    </sch:pattern>


    <!-- ==========================================================================
                                      ADDITIONAL RULES  
         ========================================================================== -->
    <sch:pattern id="additional">
        <sch:rule context="/hl7:PRPA_IN201306UV02">
            <sch:assert test="count(hl7:acknowledgement) = 1">exactly one sub-element 'acknowledgement' must be present</sch:assert>
        </sch:rule>
	</sch:pattern>

</sch:schema>
