commons/ihe/hl7v3/src/main/resources/schematron/generic.sch.xml

<!--
    Copyright 2019 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<!--
    Some generic Schematron stuff for PDQv3 and XCPD.
    @author Dmytro Rud
-->
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
    <sch:ns uri="http://www.w3.org/2001/XMLSchema-instance" prefix="xsi" />
    <sch:ns uri="urn:hl7-org:v3" prefix="hl7" />

    <sch:pattern abstract="true" id="check-type">
        <sch:rule context="$element">
            <sch:assert test="not(.) or (resolve-QName(@xsi:type, .) = QName('urn:hl7-org:v3', '$type'))">
                sub-element 'value' is constrained to data type $type
            </sch:assert>
        </sch:rule>
    </sch:pattern>

</sch:schema>