commons/ihe/hl7v3/src/main/resources/wsdl/iti45/iti45-raw.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2009 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<definitions 
        name="PIXManager" 
        targetNamespace="urn:ihe:iti:pixv3:2007"
        xmlns:ihe="urn:ihe:iti:pixv3:2007" 
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:hl7="urn:hl7-org:v3"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >

    <documentation>IHE PIX v3 Manager = ITI-45 adaptor = PIX Query v3</documentation>

    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
            <xsd:element name="PRPA_IN201309UV02" type="xsd:anyType"/>
            <xsd:element name="PRPA_IN201310UV02" type="xsd:anyType"/>
        </xsd:schema>
    </types>

    <message name="PRPA_IN201309UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201309UV02"/>
    </message>

    <message name="PRPA_IN201310UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201310UV02"/>
    </message>

    <portType name="PIXManager_PortType">
        <!-- Patient Registry Get Identifiers Query -->    
        <operation name="PIXManager_PRPA_IN201309UV02">
            <input message="ihe:PRPA_IN201309UV02_Message"
                   wsam:Action="urn:hl7-org:v3:PRPA_IN201309UV02"/>
            <output message="ihe:PRPA_IN201310UV02_Message"
                    wsam:Action="urn:hl7-org:v3:PRPA_IN201310UV02"/>
        </operation>
    </portType>

    <binding name="PIXManager_Binding_Soap12" type="ihe:PIXManager_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="PIXManager_PRPA_IN201309UV02">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="PIXManager_Service">
        <port name="PIXManager_Port_Soap12" binding="ihe:PIXManager_Binding_Soap12">
            <wsoap12:address location="http://servicelocation/PIXManager_Service12"/>
        </port>
    </service>
</definitions>
