commons/ihe/hl7v3/src/main/resources/wsdl/iti44/iti44-xds-raw.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2009 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<definitions 
        name="DocumentRegistry" 
        targetNamespace="urn:ihe:iti:xds-b:2007"
        xmlns:ihe="urn:ihe:iti:xds-b:2007" 
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:hl7="urn:hl7-org:v3"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >

    <documentation>IHE XDS.b Document Registry = ITI-44 adaptor = PIX Feed v3</documentation>

    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
            <xsd:element name="PRPA_IN201301UV02" type="xsd:anyType"/>
            <xsd:element name="PRPA_IN201302UV02" type="xsd:anyType"/>
            <xsd:element name="PRPA_IN201304UV02" type="xsd:anyType"/>
            <xsd:element name="MCCI_IN000002UV01" type="xsd:anyType"/>
        </xsd:schema>
    </types>

    <message name="PRPA_IN201301UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201301UV02"/>
    </message>

    <message name="PRPA_IN201302UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201302UV02"/>
    </message>

    <message name="PRPA_IN201304UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201304UV02"/>
    </message>

    <message name="MCCI_IN000002UV01_Message">
        <part name="Body" element="hl7:MCCI_IN000002UV01"/>
    </message>

    <portType name="DocumentRegistry_PortType">
        <!-- Patient Registry Record Added -->
        <operation name="DocumentRegistry_PRPA_IN201301UV02">
            <input message="ihe:PRPA_IN201301UV02_Message"
                   wsam:Action="urn:hl7-org:v3:PRPA_IN201301UV02"/>
            <output message="ihe:MCCI_IN000002UV01_Message"
                    wsam:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </operation>

        <!-- Patient Registry Record Revised -->
        <operation name="DocumentRegistry_PRPA_IN201302UV02">
            <input message="ihe:PRPA_IN201302UV02_Message"
                   wsam:Action="urn:hl7-org:v3:PRPA_IN201302UV02"/>
            <output message="ihe:MCCI_IN000002UV01_Message"
                    wsam:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </operation>

        <!-- Patient Registry Duplicates Resolved -->
        <operation name="DocumentRegistry_PRPA_IN201304UV02">
            <input message="ihe:PRPA_IN201304UV02_Message"
                   wsam:Action="urn:hl7-org:v3:PRPA_IN201304UV02"/>
            <output message="ihe:MCCI_IN000002UV01_Message"
                    wsam:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </operation>
    </portType>

    <binding name="DocumentRegistry_Binding_Soap12" type="ihe:DocumentRegistry_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="DocumentRegistry_PRPA_IN201301UV02">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>

        <operation name="DocumentRegistry_PRPA_IN201302UV02">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>

        <operation name="DocumentRegistry_PRPA_IN201304UV02">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="DocumentRegistry_Service">
        <port name="DocumentRegistry_Port_Soap12" binding="ihe:DocumentRegistry_Binding_Soap12">
            <wsoap12:address location="http://servicelocation/DocumentRegistry_Service12"/>
        </port>
    </service>
</definitions>
