commons/ihe/hl7v3/src/main/resources/wsdl/iti55/iti55-deferred-response-raw.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2011 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<definitions 
        name="InitiatingGateway"
        targetNamespace="urn:ihe:iti:xcpd:2009"
        xmlns:xcpd="urn:ihe:iti:xcpd:2009" 
        xmlns:hl7="urn:hl7-org:v3"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <documentation>
        IHE ITI-55 XCPD Initiating Gateway: Receiver of Deferred responses
    </documentation>
    
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
            <xsd:element name="PRPA_IN201306UV02" type="xsd:anyType" />
            <xsd:element name="MCCI_IN000002UV01" type="xsd:anyType" />
        </xsd:schema>
    </types>
    
    <message name="PRPA_IN201306UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201306UV02" />
    </message>
    <message name="MCCI_IN000002UV01_Message">
        <part name="Body" element="hl7:MCCI_IN000002UV01" />
    </message>

    <portType name="InitiatingGatewayDeferredResponse_PortType">
        <operation name="InitiatingGateway_Deferred_PRPA_IN201306UV02">
            <input message="xcpd:PRPA_IN201306UV02_Message"
                   wsam:Action="urn:hl7-org:v3:PRPA_IN201306UV02:Deferred:CrossGatewayPatientDiscovery"/>
            <output message="xcpd:MCCI_IN000002UV01_Message"
                    wsam:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </operation>
    </portType>
    
    <binding name="InitiatingGatewayDeferredResponse_Binding" type="xcpd:InitiatingGatewayDeferredResponse_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="InitiatingGateway_Deferred_PRPA_IN201306UV02">
            <input>
                <wsoap12:body use="literal" />
            </input>
            <output>
                <wsoap12:body use="literal" />
            </output>
        </operation>
    </binding>
    
    <service name="InitiatingGateway_Service">
        <port binding="xcpd:InitiatingGatewayDeferredResponse_Binding" name="InitiatingGateway_Response_Port_Soap12">
            <wsoap12:address location="http://localhost/InitiatingGateway" />
        </port>
    </service>
</definitions>
