tutorials/ref/src/main/resources/order/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openehealth.org/tutorial" xmlns:tns="http://www.openehealth.org/tutorial" elementFormDefault="qualified">

    <element name="order" type="tns:order"></element>
    
    <complexType name="order">
        <sequence>
            <element name="customer" type="string"></element>
            <element name="category" type="string"></element>
            <element name="item" type="string"></element>
            <element name="count" type="int"></element>
        </sequence>
    </complexType>
</schema>