tutorials/lbs/src/main/resources/wsdl/imagebin.wsdl

<wsdl:definitions name="ImageBin"
	targetNamespace="http://tutorial.openehealth.org/imagebin/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tutorial.openehealth.org/imagebin/"
	xmlns:types="http://tutorial.openehealth.org/imagebin/types/"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="http://tutorial.openehealth.org/imagebin/types/"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tutorial.openehealth.org/imagebin/types/"
			elementFormDefault="qualified">

			<element name="upload">
				<complexType>
					<sequence>
						<element name="imageData" type="base64Binary"
							xmime:expectedContentTypes="application/octet-stream" />
					</sequence>
				</complexType>
			</element>

			<element name="uploadResponse">
				<complexType>
					<sequence>
						<element name="handle" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="download">
				<complexType>
					<sequence>
						<element name="handle" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="downloadResponse">
				<complexType>
					<sequence>
						<element name="imageData" type="base64Binary"
							xmime:expectedContentTypes="application/octet-stream" />
					</sequence>
				</complexType>
			</element>

		</schema>
	</wsdl:types>

	<wsdl:message name="uploadRequest">
		<wsdl:part element="types:upload" name="in" />
	</wsdl:message>

	<wsdl:message name="uploadResponse">
		<wsdl:part element="types:uploadResponse" name="out" />
	</wsdl:message>

	<wsdl:message name="downloadRequest">
		<wsdl:part element="types:download" name="in" />
	</wsdl:message>

	<wsdl:message name="downloadResponse">
		<wsdl:part element="types:downloadResponse" name="out" />
	</wsdl:message>

	<wsdl:portType name="ImageBin">
		<wsdl:operation name="upload">
			<wsdl:input message="tns:uploadRequest" name="uploadRequest" />
			<wsdl:output message="tns:uploadResponse" name="uploadResponse" />
		</wsdl:operation>

		<wsdl:operation name="download">
			<wsdl:input message="tns:downloadRequest" name="downloadRequest" />
			<wsdl:output message="tns:downloadResponse" name="downloadResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ImageBin_SOAPBinding" type="tns:ImageBin">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="upload">
			<soap:operation soapAction="" style="document" />

			<wsdl:input name="uploadRequest">
				<soap:body use="literal" />
			</wsdl:input>

			<wsdl:output name="uploadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

        <wsdl:operation name="download">
            <soap:operation soapAction="" style="document" />

            <wsdl:input name="downloadRequest">
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output name="downloadResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ImageBinService">
		<wsdl:port binding="tns:ImageBin_SOAPBinding" name="ImageBin">
			<soap:address location="http://localhost:9000/ImageBin/ImageBinPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
