commons/ihe/hl7v3/src/main/resources/wsdl/iti47/iti47-raw.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2009 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<definitions 
        name="PDSupplier" 
        targetNamespace="urn:ihe:iti:pdqv3:2007"
        xmlns:ihe="urn:ihe:iti:pdqv3:2007"
        xmlns:hl7="urn:hl7-org:v3"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <documentation>IHE PDQ v3 Supplier = ITI-47 adaptor = PDQ Query v3</documentation>
    
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
            <xsd:element name="PRPA_IN201305UV02"        type="xsd:anyType"/>
            <xsd:element name="PRPA_IN201306UV02"        type="xsd:anyType"/>
            <xsd:element name="QUQI_IN000003UV01"        type="xsd:anyType"/>
            <xsd:element name="QUQI_IN000003UV01_Cancel" type="xsd:anyType"/>
            <xsd:element name="MCCI_IN000002UV01"        type="xsd:anyType"/>
        </xsd:schema>
    </types>
    
    <message name="PRPA_IN201305UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201305UV02"/>
    </message>
    <message name="PRPA_IN201306UV02_Message">
        <part name="Body" element="hl7:PRPA_IN201306UV02"/>
    </message>
    <message name="QUQI_IN000003UV01_Message">
        <part name="Body" element="hl7:QUQI_IN000003UV01"/>
    </message>
    <message name="QUQI_IN000003UV01_Cancel_Message">
        <part name="Body" element="hl7:QUQI_IN000003UV01_Cancel"/>
    </message>
    <message name="MCCI_IN000002UV01_Message">
        <part name="Body" element="hl7:MCCI_IN000002UV01"/>
    </message>
    
    <portType name="PDSupplier_PortType">
        <!-- Get candidates -->
        <operation name="PDSupplier_PRPA_IN201305UV02">
            <input message="ihe:PRPA_IN201305UV02_Message"
                wsam:Action="urn:hl7-org:v3:PRPA_IN201305UV02"/>
            <output message="ihe:PRPA_IN201306UV02_Message"
                wsam:Action="urn:hl7-org:v3:PRPA_IN201306UV02"/>
        </operation>
    
        <!-- Continuation -->
        <operation name="PDSupplier_QUQI_IN000003UV01_Continue">
            <input message="ihe:QUQI_IN000003UV01_Message"
                wsam:Action="urn:hl7-org:v3:QUQI_IN000003UV01_Continue"/>
            <output message="ihe:PRPA_IN201306UV02_Message"
                wsam:Action="urn:hl7-org:v3:PRPA_IN201306UV02"/>
        </operation>
    
        <!-- Cancel -->
        <operation name="PDSupplier_QUQI_IN000003UV01_Cancel">
            <input message="ihe:QUQI_IN000003UV01_Cancel_Message"
                wsam:Action="urn:hl7-org:v3:QUQI_IN000003UV01_Cancel"/>
            <output message="ihe:MCCI_IN000002UV01_Message"
                wsam:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </operation>
    </portType>
    
    <binding name="PDSupplier_Binding_Soap12" type="ihe:PDSupplier_PortType">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PDSupplier_PRPA_IN201305UV02">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="PDSupplier_QUQI_IN000003UV01_Continue">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="PDSupplier_QUQI_IN000003UV01_Cancel">
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <service name="PDSupplier_Service">
        <port binding="ihe:PDSupplier_Binding_Soap12" name="PDSupplier_Port_Soap12">
            <wsoap12:address location="http://localhost/PDSupplier_Soap12"/>
        </port>
    </service>
</definitions>
